.cards{
    padding: 10px;
    background-color: transparent!important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.blogtile {
    display: block;
    font-family: 'Ginto Nord', sans-serif;
    color: #5865f2;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
   
}

.blogtile:hover {
    color: #5865F2;
}
