.editbtn {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-in;
    font-size: 17px;
    font-weight: 500;
    text-align: start;
    width: 100%;
}

.icons {
    background-color: transparent;
}

.aboutbtn {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease-in;
    font-size: 17px;
    font-weight: 500;
    text-align: start;
    width: 100%;

}

.editbtn:hover {
    border-bottom: 2px solid #fff;
    width: 100%;
}

.aboutbtn:hover {
    border-bottom: 2px solid #fff;
    width: 100%;

}


.deshbordbtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
}


.profilehed {
    box-shadow: rgba(50, 50, 93, 0.1) 0px 10px 10px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 16px -18px inset;
}


@media(max-width:768px) {}

@media only screen and (max-width: 500px) {}

@media screen and (max-width: 800px) {}

td {
    font-size: 20px;
}

.aboutdata {
    box-shadow: 2px 1px 1px rgba(54, 47, 145, 0.75);
padding: 10px;
}

.submitbtn {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    padding: 8px 29px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in;
    width: auto;
    margin-bottom: 20px;
}

.submitbtn:hover{
    background-color: white;
    color: black;
}


input {
    color: #fff;
}

.aboutdata h1 {
    text-align: start;
    padding: 15px;
    font-size: 20px;
    border-bottom: 2px solid #bcbdc8;
    width: 100%;
}

.phtotext {
    font-size: 22px;
    line-height: 30px;
    font-weight: 100;
    color: #fff;
    transition: all 0.6s ease;
}
.phtotext:hover{
    font-size: 30px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

