.imgluid{
    max-width: 678px;
    max-height: 440px;
}
.fw-bolder{
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
}
.RELIABLE{
    font-weight: 800;
    line-height: 105%;
}


.allmargin{
    margin: 105px 0px 75px;
}
