.icon-styles a {
    margin: 0px 17px;
    color: #fff;
}

.imagine {
    font-size: 50px;
    color: #5865f2;
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.product h4 {
    color: #5865f2;
}





.footerbtn {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    color: #fff;

    border: none;
    transition: all 0.5s ease;
    background-color: #5865f2;
}

.footerbtn:hover {
    box-shadow: rgba(13, 10, 20, 0.584) 0 8px 15px;
    transform: translateY(-2px);
    color: #fff;
}


.submitbtn {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    padding: 8px 29px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in;
    width: auto;
    margin-bottom: 20px;
}

.submitbtn:hover {
    background-color: white;
    color: black;
}

.cardregi{
    opacity: 0.8!important;
    background-color: black!important;
    /* margin-top: 50px; */
}
.logintexts {
    font-size: 18px;
    color: #fff;
}
.askbtn:hover{
  color: #405cf5;
  font-size: 23px;
  font-weight: 900;

}
.askbtn{
    color: white;
    transition: all 0.4s ease;
    font-size: 18px;
}
.loginhedeing {
    font-size: 40px;
    color: #405cf5;
    font-weight: 900;
}
.imgmargin{
    margin-top: 150px;
}